//Index.html
.section__presentacion {
    background-color: $color-beige;
    height: 500px;
    display: grid;
    .div__presentacion{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        h2{
            text-align: left;
            width: 200px;
            margin-top: 100px;
            color: #191919;
            font-family: "Bebas Neue";
            font-weight: 400;
            font-style: normal;
            font-size: 48px;
            transition: 0.5s;
            &:hover {
                color: #5c5a5a;
            }
        }
        img {
            @include imagenes (100%, 100%, cover);
        }
    }
}

.section__title {
    height: 80px;
    display: flex;
    justify-content: center;
    .div__title {
        @include flex (column, center, center, 0px);
    }
    
}

.section__about {
    margin: 15px;
    margin-bottom: 50px;
    .div__about {
        background-color: #fff;
        @include flex (column, center, center, 0px);
        margin: 20px;
        border-radius: 8px;
        .p__about {
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            font-family: "Poppins", sans-serif;
        }
    }
}

.section__estudio {
    margin: 15px;
    margin-bottom: 50px;
    .div__estudio {
        background-color: #fff;
        @include flex (column, center, center, 0px);
        margin: 20px;
        border-radius: 8px;
        .text__estudio {
            text-align: center;
            padding: 0 10px;
            font-size: 16px;
            font-weight: 500;
            font-family: "Poppins", sans-serif;
        }
        .title__estudio {
            display: flex;
            justify-content: center;
            margin-bottom: 7px;
            margin-top: 10px;
            font-weight: 700;
            font-family: "Poppins", sans-serif;
        }
    }
}


.div__mapa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    .title__mapa {
        text-align: left;
        width: 200px;
        margin: 20px;
        color: $color-black;
        font-family: "Bebas Neue";
        font-weight: 400;
        font-style: normal;
        font-size: 48px;
        transition: 0.5s;
        @include flex (column, center, center, 0px);
        &:hover {
            color: #191919;
        }
    .mapa {
        width: 100%;
        height: 300px; 
        max-width: 600px; 
        border: 0;
    }
    }
}